<%= form_for(@match_cost) do |f| %>
  <% if @match_cost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match_cost.errors.count, "error") %> prohibited this match_cost from being saved:</h2>

      <ul>
      <% @match_cost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cost_code %><br>
    <%= f.number_field :cost_code %>
  </div>
  <div class="field">
    <%= f.label :mID %><br>
    <%= f.number_field :mID %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
